
body{
    background-color: hsl(0, 0%, 95%);
    margin: 0;
    padding: 0;
    height: auto;
}

.grid{
    display: grid;
    width: 80%;
    grid-template-columns: repeat(3,1fr);
    margin:  auto;
    height: 85vh;
    color: hsl(0, 0%, 95%);
    align-items: center;
    margin-top: 5em;
}

.sedans{
    
    background-color:  hsl(31, 77%, 52%);
    padding: 2.3em;
    border-radius: 0.5em 0 0 0.5em;
   
    text-align: left;
}

.suvs{
    background-color:  hsl(184, 100%, 22%);
    padding: 2.3em;
    border-radius: 0em 0 0 0em;
   
    text-align: left;
}

.luxury{
   background-color:  hsl(179, 100%, 13%);
   padding: 2.3em;
   border-radius:0 0.5em 0.5em 0;
  
    text-align: left;
}

button{
    background-color: hsl(0, 0%, 95%) ;
    border-radius:  2em ;
    padding: 0.5em 1.2em;
    border: 0.22em solid hsl(0, 0%, 95%);
    font-size: 1.2em;
    bottom: 1em;
    font-weight: lighter;
}

.sedans button:hover{
    background-color: hsl(31, 77%, 52%) ;
    border-radius:  2em ;
    padding: 0.6em 1.2em;
    border: 0.133em solid hsl(0, 0%, 95%);
    font-size:1.2em;
    color:hsl(0, 0%, 95%) ;
    cursor: pointer;
}

.suvs button:hover{
    background-color: hsl(184, 100%, 22%) ;
    border-radius:  2em ;
    padding: 0.6em 1.2em;
    border: 0.133em solid hsl(0, 0%, 95%);
    font-size: 1.2em;
    color:hsl(0, 0%, 95%) ;
    cursor: pointer;
}

.luxury button:hover{
    background-color: hsl(179, 100%, 13%);
    border-radius:  2em ;
    padding: 0.6em 1.2em;
    border: 0.133em solid hsl(0, 0%, 95%);
    font-size:1.2em;
    color:hsl(0, 0%, 95%) ;
    cursor: pointer;
}

.sedans button{
    color: hsl(31, 77%, 52%);
}

.suvs button{
    color: hsl(184, 100%, 22%);
}

.luxury button{
    color: hsl(179, 100%, 13%);;
}

.grid p{
    color:hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca',sans-serif;
    font-size: 1.2em;
    line-height: 1.2em;
    letter-spacing: 0.05em;
    margin-bottom: 5em;
}

h1{
    font-family: 'Big Shoulders Display', sans-serif;
    letter-spacing: -0.07em;
    text-transform: uppercase;
}

footer p{
    margin: 1.5em;
    color:black ;
    text-align: center;
    font-size: 2.0em;
    
}


@media( max-width: 415px) {
    .grid{
        display: flex;
        
        align-items: center;
        flex-direction: column;
        margin-top: 3em;
        margin-bottom: 1em;
        height: auto;
        width: 70%;
    }
    .sedans{
        padding: 2.5em;
        border-radius: 0.7rem  0.7rem 0 0;
        font-size: 0.7em;
    }
    
    .suvs{
        padding: 2.5em;
        font-size: 0.7em;
    }
    
    .luxury{
        padding: 2.5em;
       border-radius:0 0 0.7em 0.7em ;
       font-size: 0.7em;
    }
    button{
        border: 0.138em solid hsl(0, 0%, 95%);
        font-size:1.4em;
        padding: 0.6em 1.2em;
        
    }
     .grid button:hover{
        border-radius:  2em ;
        padding: 0.6em 1.2em;
        border: 0.138em solid hsl(0, 0%, 95%);
        font-size: 1.4em;
        color:hsl(0, 0%, 95%) ;
        cursor: pointer;
    }
    .grid p{
        color:hsla(0, 0%, 100%, 0.75);
        font-family: 'Lexend Deca',sans-serif;
        font-size: 1.5em;
        line-height: 1.3em;
        letter-spacing: 0.05em;
        margin-bottom: 3em;
    }

    h1{
        font-family: 'Big Shoulders Display', sans-serif;
        letter-spacing: -0.07em;
        text-transform: uppercase;
    }
    
    footer p{
        color:black ;
        text-align: center;
        font-size: 1.50715em;
      
    }
    body{
        background-color: hsl(0, 0%, 95%);
        margin: 0;
        padding: 0;
        height: auto;
        width: 100vw;
       
    }
}
